.page-link {
    color: var(--bs-danger);
    background-color: var(--bs-white);
    border: 1px solid var(--bs-danger);
}

.page-link:hover {
    color: var(--bs-dark);
    background-color: var(--bs-light);
    border: 1px solid var(--bs-danger);
}

.page-link.active,
.page-link.active:hover {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
    color: var(--bs-white);
}

.table td,
.table th {
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

.texto-3-linhas {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.texto-1-linha {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Estilos para a navbar com fundo escuro */
.navbar-custom {
    background-color: #343a40; /* Cor de fundo da navbar */
}

.navbar-custom .navbar-nav .nav-link {
    color: white !important; /* Cor do texto dos links */
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #e0e0e0 !important; /* Cor do texto ao passar o mouse (opcional) */
}

.navbar-custom .navbar-brand {
    color: white !important; /* Cor do texto da marca */
}

.navbar-custom .navbar-toggler-icon {
    background-color: white; /* Cor do ícone do botão toggle */
}

.pagination .page-item .page-link.active {
    background-color: #FFC107;
    border-color: #FFC107;
    color: black;
    font-weight: bold;
}

.pagination .page-item .page-link {
    border-color: #FFC107;
    color: black;
}

.dropdown-item.active {
    background-color: #FFC107;
    font-weight: bold;
    color: black;
}

