{% extends "base.html" %}
{% block subtitulo %}Cadastro{% endblock %}
{% block conteudo %}
<h1 class="display-5"><b>Alterar Ferramenta</b></h1>
<hr>
<form class="row json-form" method="post" action="/alterar_ferramenta">
    <div class="col-12 col-lg-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="id" name="id"  value="{{ produto.id }}">
            <label for="id" value = "{{produto.id}}">Id</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nome" name="nome"  value="{{ produto.nome }}">
            <label for="nome">Nome da Ferramenta</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="preco" name="preco" value="{{produto.preco}}">
            <label for="preco">Preço</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="descricao" name="descricao" value="{{produto.descricao}}">
            <label for="descricao">Descrição</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="estoque" name="estoque" value="{{produto.estoque}}">
            <label for="estoque">Quantidade</label>
        </div>
        <div style="margin-top: 40px; margin-bottom: 20px;">
            <button type="submit" class="btn btn-warning btn-lg">Alterar Ferramenta</button>
        </div>
        
    </div>
    <div class="col-12 col-lg-6">
        <i class="bi bi-file-earmark-image-fill text-primary" style="font-size: 150px;"></i>
        <div class="mb-3">
            <label for="formFile" class="form-label">Escolha imagem para a capa</label>
            <input class="form-control"   type="file" id="imagem" placeholder="Formulario">
        </div>
       
    </div>
</form>
<script src="/static/js/formToJson.js"></script>
<script src="/static/js/inputMasks.js"></script>
{% endblock %}