{% extends "base.html" %}
{% block subtitulo %}Carrinho de Compras{% endblock %}
{% block conteudo %}
<h1 class="display-5"><b>Carrinho de Compras</b></h1>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Nome</th>
            <th>R$ Unit.</th>
            <th>Qtde.</th>
            <th>R$ Item</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(1,5)%}
        <tr>
            <td>
                <a href="/produto/{{i}}">
                    <img src="/static/img/produtos/{{'{:04d}'.format(i)}}.jpg" style="height: 48px;" class="rounded">
                </a>
            </td>
            <td><a href="/produto/{{i}}">Air Pods Pro</a></td>
            <td>2.999,00</td>
            <td>
                <button class="btn btn-sm btn-danger">
                    <i class="bi bi-dash"></i>
                </button>
                <span class="mx-2">2</span>
                <button class="btn btn-sm btn-danger">
                    <i class="bi bi-plus"></i>
                </button>
            </td>
            <td>5.998,00</td>
            <td>
                <button class="btn btn-danger btn-sm">
                    <i class="bi bi-trash"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr class="lead">
            <td colspan="4" class="text-end">Valor Total do Pedido:</td>
            <td><b>R$ 23.992,00</b></td>
            <td>
                <a class="btn btn-danger btn-lg" href="/cliente/confirmacaopedido">Finalizar Pedido</a>
            </td>
        </tr>
    </tfoot>
</table>
{% endblock %}