{% extends "base.html" %}
{% block subtitulo %}Emprestar{% endblock %}
{% block conteudo %}
<h1 class="display-5"><b>Listagem de Aluguéis
    </b></h1>
<hr>
<form class="row json-form" action="/cadastrar_emprestimo" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Data de Empréstimo</th>
                <th>Produto</th>
                <th>ID do Produto</th>
                <th>Id da Locação</th>
                <th>Valor Total</th>
                <th>Data de Devolução</th>
            </tr>
        </thead>
        <tbody>
            {% for locacao in lista_locacoes %}
                <tr>
                    <td>{{ locacao.data_emprestimo }}</td>
                    <td><img src="/static/img/produtos/{{'{:04d}'.format(locacao.produto_id)}}.jpg" style="width: 130px; height: 130px;"></td>
                    <td>{{ locacao.produto_id }}</td>
                    <td>{{ locacao.id }}</td>
                    <td>{{ locacao.valor_total }}</td>
                    <td> {{locacao.data_devolucao }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

<script src="/static/js/formToJson.js"></script>
{% endblock %}
