<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-6 g-3 mb-3 ">
    {% for p in produtos %}
    <div class="col">
        {% if p.emprestado==1 -%}
        <div class="card h-100  bg-secondary">
            {%if p.id < 22 -%}
            <a href="/livro/{{p.id}}">
                <img src="/static/img/produtos/{{'{:04d}'.format(p.id)}}.jpg"  style="height: 300px;"class="card-img-top w-100">
            </a>
            {%- else-%}
            <a href="/produto/{{p.id}}">
                <img src="/static/img/produtos/0000.jpg"  style="height: 300px;"class="card-img-top w-100">
            </a>

            {%- endif-%}
            <div class="card-body d-flex flex-column">
                <h5 class="card-title text-center">
                    <a href="/produto/{{p.id}}" class="text-decoration-none text-black">
                        {{p.nome}}
                    </a>
                </h5>
                <p class="card-text text-center texto-3-linhas">
                    {{p.descricao}}
                </p>
                <p class="card-text text-center texto-3-linhas ">
                    <b>Quantidade: {{p.estoque}}</b>
                </p>
                <p class="card-text text-center texto-3-linhas text-danger">
                    <b>ALUGADO</b>
                </p>
                <hr>
                
                <div class="row">
    <div class="col-sm-12 text-center">
        <button id="btnSearch" class="btn btn-warning btn-md center-block" Style="width: 80px;"  >
           <a href="/alterar_ferramenta/{{p.id}}" class="text-white text-decoration-none">Alterar</a> 
        </button>
        <button id="btnSearch" class="btn btn-dark btn-md center-block" Style="width: 80px;"  >
            <a href="/excluir_ferramenta/{{p.id}}" class="text-white text-decoration-none">Excluir</a> 
         </button>
     </div>

     
</div>
             
            </div>
        </div>
        {%- else -%}
        <div class="card h-100 ">
            {%if p.id < 22 -%}
            <a href="/produto/{{p.id}}">
                <img src="/static/img/produtos/{{'{:04d}'.format(p.id)}}.jpg"  style="height: 300px;"class="card-img-top w-100">
            </a>
            {%- else-%}
            <a href="/produto/{{p.id}}">
                <img src="/static/img/produtos/0000.jpg"  style="height: 300px;"class="card-img-top w-100">
            </a>

            {%- endif-%}
            <div class="card-body d-flex flex-column">
                <h5 class="card-title text-center">
                    <a href="/produto/{{p.id}}" class="text-decoration-none text-black">
                        {{p.nome}}
                    </a>
                </h5>
                <p class="card-text text-center texto-3-linhas">
                    {{p.descricao}}
                </p>
                <p class="card-text text-center texto-3-linhas ">
                    <b>Quantidade: {{p.estoque}}</b>
                </p>
                <hr>
                
                <div class="row">
    <div class="col-sm-12 text-center">
        <button id="btnSearch" class="btn btn-warning btn-md center-block" Style="width: 80px;"  >
           <a href="/alterar_ferramenta/{{p.id}}" class="text-white text-decoration-none">Alterar</a> 
        </button>
        <button id="btnSearch" class="btn btn-dark btn-md center-block" Style="width: 80px;"  >
            <a href="/excluir_ferramenta/{{p.id}}" class="text-white text-decoration-none">Excluir</a> 
         </button>
     </div>

     
</div>
             
            </div>
        </div>
        {%- endif -%}
    </div>
    {% endfor %}
</div>