<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/static/img/logo.png" style="height: 120px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#menuPrincipal">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% set pagina_atual = request.url.path %}
        <div class="collapse navbar-collapse" id="menuPrincipal">
            {% if cliente.admin == True -%}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if pagina_atual == '/' }}"
                        href="/">Principal</a>
                </li>

                <li class="nav-item">
                    <a
                        class="nav-link {{ 'active' if pagina_atual == '/' }}"
                        href="/cadastrar_ferramenta">Cadastrar Ferramenta</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link {{ 'active' if pagina_atual == '/' }}"
                        href="/solicitacoes_gerente">Solicitações</a>
                </li>

                <li class="nav-item dropdown">
                    
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">
                        Olá, <b>Gerente</b>!
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item  {{ 'active' if pagina_atual == '/cliente/dados' }} text-dark" href="/cliente/dados">Dados Pessoais</a></li>
                        <li><a class="dropdown-item  {{ 'active' if pagina_atual == '/cliente/senha' }} text-dark" href="/cliente/senha">Alterar Senha</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-dark" href="/cliente/sair">Sair</a></li>
                    </ul>
                </li>

                </ul>

                {%- else: -%}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link {{ 'active' if pagina_atual == '/' }} text-white" href="/">Principal</a>
                    </li>
    

                {% if not cliente or not cliente.nome -%}
                <li class="nav-item">
                    <a
                        class="nav-link {{ 'active' if pagina_atual == '/cadastro' }}"
                        href="/cadastro">Quero me cadastrar!</a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link {{ 'active' if pagina_atual == '/entrar' }}"
                        href="/entrar">Entrar</a>
                </li>

                {%- else: -%}
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if pagina_atual == '/entrar' }} text-white" href="/solicitacoes_cliente">Minhas Solicitações</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown">
                        Olá, <b>{{ cliente.nome }}</b>!
                    </a>
                    <ul class="dropdown-menu">
                        <li><a
                                class="dropdown-item  {{ 'active' if pagina_atual == '/cliente/dados' }}"
                                href="/cliente/dados">Dados Pessoais</a></li>
                        <li><a
                                class="dropdown-item  {{ 'active' if pagina_atual == '/cliente/senha' }}"
                                href="/cliente/senha">Alterar Senha</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item"
                                href="/cliente/sair">Sair</a></li>
                    </ul>
                </li>

                    {%- endif -%}
                </ul>
                {%- endif -%}
            
            <form class="d-flex" role="search" action="/buscar" method="get">
                <input class="form-control me-2" type="search"
                    placeholder="O que deseja buscar?" name="q">
                <button class="btn btn-warning" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>