{% extends "base.html" %}
{% block subtitulo %}Sobre!{% endblock %}
{% block conteudo %}
<h2><b>Trabalho da Disciplina de Desenvolvimento Web</b><h2>
<h4>Sofia Pereira Bachetti Sartorio e Murillo Carlete Ribeiro</h4>
<hr>

<p><b>Olá! Este trabalho é um projeto da disciplina de Desenvolvimento Web, ministrada pelo Professor Doutor Ricardo Maroquio no IFES - Cachoeiro de Itapemirim.</b></p>

<p>A Ferramentel é uma loja de aluguel de ferramentas, na qual os <b>clientes</b> podem se cadastrar e fazer login, visualizar as ferramentas disponíveis para aluguel, alugar a ferramenta que for do seu interesse e visualizar todos os seus aluguéis anteriores, além de terem a possibilidade de alterarem seus dados pessoais de cadastro bem como a sua senha.</p>

<p>Já os <b>gerentes</b> também podem se cadastrar e fazer login, visualizar as ferramentas disponíveis na loja e suas respectivas quantidades, realizar alterações no cadastro das ferramentas bem como excluí-las. O gerente também pode cadastrar novas ferramentas e visualizar todas as solicitações feitas pelos clientes da loja. Assim como os clientes, os gerentes também podem modificar seus dados pessoais e sua senha. Ambos os perfis de usuário podem realizar buscas dos itens disponíveis na loja.</p>


{% endblock %}